esempio_dtd.dtd

<!--Simona Scotto di Perrotolo 501018-->

<!--Denire i seguenti elementi:
elemento root: TEI
elementi gli:
header (obbligatorio una occorrenza)
facsimile (opzionale una occorrenza)
text (obbligatorio almeno una occorrenza)
Gli elementi header, facsimile e text hanno tutti un content
model testuale-->

<!ELEMENT root (TEI)>
<!ELEMENT TEI (header, facsimile?, text+)>
<!ELEMENT header (#PCDATA)>
<!ELEMENT facsimile (#PCDATA)>
<!ELEMENT text (#PCDATA)>